In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler

In [39]:
data = pd.read_csv('C://Users//Apeksha//Downloads//Fraud_check.csv')
data

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [43]:
data["income"]="<=30000"
data.loc[data["Taxable.Income"]>=30000,"income"]="Good"
data.loc[data["Taxable.Income"]<=30000,"income"]="Risky"

KeyError: 'Taxable.Income'

In [ ]:
data.drop(["Taxable.Income"],axis=1,inplace=True)

In [ ]:
data.rename(columns={"Undergrad":"undergrad","Marital.Status":"marital","City.Population":"population","Work.Experience":"experience","Urban":"urban"}

In [44]:
data

    Undergrad Marital.Status  City.Population  Work.Experience Urban   income
0          NO         Single            50047               10   YES  <=30000
1         YES       Divorced           134075               18   YES  <=30000
2          NO        Married           160205               30   YES  <=30000
3         YES         Single           193264               15   YES  <=30000
4          NO        Married            27533               28    NO  <=30000
..        ...            ...              ...              ...   ...      ...
595       YES       Divorced            39492                7   YES  <=30000
596       YES       Divorced            55369                2   YES  <=30000
597        NO       Divorced           154058                0   YES  <=30000
598       YES        Married           180083               17    NO  <=30000
599        NO       Divorced           158137               16    NO  <=30000

[600 rows x 6 columns]

In [45]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
for column_name in data.columns:
    if data[column_name].dtype == object:
        data[column_name] = le.fit_transform(data[column_name])
    else:
        pass

In [46]:
data.tail()

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,income
595,1,0,39492,7,1,0
596,1,0,55369,2,1,0
597,0,0,154058,0,1,0
598,1,1,180083,17,0,0
599,0,0,158137,16,0,0

In [47]:
data["income"].value_counts()

0    600
Name: income, dtype: int64

In [48]:
features = data.iloc[:,0:5]
labels = data.iloc[:,5]

In [49]:
colnames = list(data.columns)
predictors = colnames[0:5]
target = colnames[5]

In [50]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features,labels,test_size = 0.2,random_state=42)

In [51]:
from sklearn.datasets import make_classification
x, y = make_classification(n_samples=1000, n_features=4, n_informative=2, n_redundant=0, random_state=0, shuffle=False)


from sklearn.ensemble import RandomForestClassifier as RF
model = RF(max_depth=2, random_state=0)
model.fit(x_train,y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [52]:
prediction = model.predict(x_train)

In [53]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_train,prediction)
accuracy

1.0

In [54]:
# Prediction on test data :
pred_test = model.predict(x_test)

In [55]:
acc_test =accuracy_score(y_test,pred_test)
acc_test

1.0

In [56]:
##Confusion matrix
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(y_train,prediction)

In [57]:
confusion

array([[480]], dtype=int64)